<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="android.KhedmtiApp">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".MainActivity"
            android:label="@string/app_name">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".Main2Activity"
            android:label="@string/title_activity_main2" />
        <activity
            android:name=".registration"
            android:label="@string/title_activity_registration" />
        <activity
            android:name=".home"
            android:label="@string/title_activity_home" />
        <activity
            android:name=".EditServiceProviderPage"
            android:label="@string/title_activity_edit_service_provider_page" />
        <activity
            android:name=".CustomerProfileScreen"
            android:label="@string/title_activity_customer_profile_screen" />
        <activity
            android:name=".EditCustomerProfileScreen"
            android:label="@string/title_activity_edit_customer_profile_screen" />
        <activity
            android:name=".editOrderStatsScreen"
            android:label="@string/title_activity_edit_order_stats_screen"></activity>
    </application>

</manifest>
